* {
    margin: 0;
    padding: 0;
}

body {
    background-color: lightgray;
    font-family: Georgia;
}

.main-container {
    background-color: white;
    width: 90%;
    margin: auto;
    padding: 10px;
}

.img-header {
    display: flex;
    position: relative;
}

.img-header img {
    width: 100%;
}

.menu-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    flex-wrap: wrap;
}

.menu-header a {
    flex: 1;
    text-decoration: none;
    background-color: rgb(196, 121, 121);
    color: white;
    padding: 10px;
    border: 1px solid white;
    text-align: center;
}

.menu-header a:hover{
    background-color: rgb(197, 52, 52);
    color: black;
}


.info-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.packet-cont {
    width: 300px;
    margin: 10px;
    font-family: 'Segoe UI';
}

.packet-cont h4 {
    color: rgb(109, 103, 103);
}
.packet-cont img {
    width: 100%;
    border-radius: 5%;
}

.video-cont {
    width: 300px;
    margin: 10px;
    display: flex;
    flex-direction: column;
}

.video-cont iframe {
    width: 100%;
    height: auto;
}

.search-cont {
    margin-bottom: 40px;
}

.search-cont input[type='text'] {
    padding: 5px;
    margin-right: 10px;
}

.search-cont input[type='submit'] {
    padding: 5px;
}

.image-feed {
    display: flex;
}

.image-feed img {
    width: 50%;
}

.brand-cont {
    width: 50%;
    position: absolute;
    top: 10%;
    left: 10%;
}

.brand-cont img {
    width: 50%;
}

.brand-cont h1{
    color: white;
    font-size: 3.5vw;
    text-shadow: 2px 2px 8px #000;
}

.brand-cont h2{
    color: white;
    font-size: 2vw;
    text-shadow: 2px 2px 8px #000;
}


.image-feed {
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
}

.feed {
    margin: 20px;
    font-size: large;
    font-family: Arial;
    text-align: center;
    background-color: rgb(196, 121, 121);
    width: auto;
    padding: 10px;
    justify-content: center;
    font-style: italic;
    color: white;
}

.image-feed img {
    width: 25%;
    border-radius: 3%;
    padding: 5px;
}